@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body > *:not(#navBar) {
  margin-left: 25%;
}

#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#lights, #statistics, #login, #register, #variations, #preCompetitive, a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#lights, #statistics, #login, #register, #variations, #preCompetitive, a.active {
  background-color: #04AA6D;
  color: white;
}

#lights, #statistics, #login, #register, #variations, #preCompetitive, a:hover:not(.active) {
  background-color: #555;
  color: white;
}